{% include 'header.html' %}

<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <div class="card">
            <div class="card-header">Agregar Movil</div>
            <div class="card-body">
                <form action="/almacen/create/guardar" method="post">
                    <div class="mb3">
                        <label for="cedula" class="form-label">Codigo Consumidor</label>
                        <input type="text" class="form-control" id="id" name="id" aria-describedby="helpcedula"
                            placeholder="Codigo">
                    </div>
                    <div class="mb3">
                        <label for="cedula" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" aria-describedby="helpnombre"
                            placeholder="Nombre">            
                    </div>
                    <div class="mb3">
                        <label for="cedula" class="form-label">Cedula</label>
                        <input type="text" class="form-control" id="cedula" name="cedula" aria-describedby="helpcedula"
                            placeholder="Cedula">
                    </div>
                    <div class="mb3">
                        <label for="cedula" class="form-label">Carpeta</label>
                        <input type="text" class="form-control" id="carpeta" name="carpeta" aria-describedby="helpcarpeta"
                            placeholder="Carpeta">
                    </div>                
                    <div class="mb3">
                        <label for="cedula" class="form-label">Estado</label>
                        <input type="text" class="form-control" id="estado" name="estado" aria-describedby="helpestado"
                            placeholder="Estado">
                    </div>
                    <div class="mb3">
                        <label for="cedula" class="form-label">Cargo</label>
                        <input type="text" class="form-control" id="cargo" name="cargo" aria-describedby="helpcargo"
                            placeholder="Cargo">
                    </div>
                    <div class="mb3">
                        <label for="cedula" class="form-label">Ciudad</label>
                        <input type="text" class="form-control" id="ciudad" name="ciudad" aria-describedby="helpciudad"
                            placeholder="Ciudad">
                    </div>                    
                    <div class="mb3">
                        <label for="cedula" class="form-label">Empresa</label>
                        <input type="text" class="form-control" id="empresa" name="empresa" aria-describedby="helpempresa"
                            placeholder="Empresa">
                    </div>
                    <div class="mb3">
                        <label for="cedula" class="form-label">Cliente</label>
                        <input type="text" class="form-control" id="cliente" name="cliente" aria-describedby="helpcliente"
                            placeholder="Cliente">
                    </div> 
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>                           
                   
              
            
        </div>
    </div>
    <div class="col-4"></div>

</div>

{% include 'footer.html' %}